@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100&family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #f4f5f7;
  font-family: inter;
}

/*styling for profile component*/
#profile_img{
  height: 88px;
  width: 88px;
  border-radius: 50%;
  margin-top:40px ;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.profile_name{
  font-family: inter;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  margin-bottom: 50px;
}

#slack{
  display: none;
}

/*styling for button components*/

.button{
  text-decoration: none;
  color: #101828;
  background-color: #eaecf0;
  margin-bottom: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8px;
  line-height: 28px;
  text-align: center;
  width: 60%;
  height: 50px;
  border: 1px solid #eaecf0;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 500;

}

/* styles for slack and github icons*/

.icon{
  margin-top: 60px;
  margin-bottom: 100px;
  text-align: center;
}

.slack , .github{
  width: 20px;
  align-items: center;
  cursor: pointer;
}
.github{
  margin-left: 16px;
}

/*styling for footer*/


.footerContainer{
 display: flex;
 justify-content: space-between;
 width: 70%;
 margin-right: auto;
 margin-left: auto;
}
.hng{
  font-weight: normal;
  font-size: 14px;
  color: #667085;
}
.ingresive{
  width: 100px;
  cursor: pointer;
  
}


/* contact me/ form session*/

.contact_container{
  margin: 0 auto;
  width: 50%;
  margin-bottom: 70px;
  
  
}

.heading{
  margin-top: 60px;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 20px;
}
.sub_heading{
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 40px;
  color: #475467;
}

.name-container{
  display: flex;
  
}

#first_name{
  width: 300px;
  padding: 10px;
  margin-top: 10px;
  
}

.lastname_container{
  margin-left: 60px;
  margin-bottom: 20px;
}

#last_name{
  width: 300px;
  width: 300px;
  padding: 10px;
  margin-top: 10px;
}

#email{
  width: 660px;
  padding: 10px;
  margin-top: 10px;
}
.email_container{
  margin-bottom: 20px;
}
#message{
  width: 660px;
  margin-top: 10px;
  padding: 10px;
}
input , textarea{
  border: 1px solid #d0d5dd;
  border-radius: 6px;
}
::placeholder{
  font-size: 16px;
  line-height: 24px;
  color: #667085;
}
.label_text{
  color: #344054;
}
textarea{
  overflow: hidden;
}

.checkbox_container{
  display: flex;
  padding-top: 20px;
}
.checkbox_text{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #475467;
  margin: 8px;
}
.checkbox{
  border: 1px solid #d0d5dd;
  border-radius: 6px;
}

#btn_submit{
  text-decoration: none;
  color: #fff;
  background-color: #1570EF;;
  margin-bottom: 180px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8px;
  line-height: 28px;
  text-align: center;
  width: 108%;
  height: 50px;
  border: 1px solid #eaecf0;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
}
